<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>

<h:body>

	<h1>Contact Details</h1>

	<h:form>
		<p:panelGrid columns="6">
			<h:outputText value="Firstname" />
			<p:inputText value="#{teamContactView.selectedContact.firstName}" />

			<h:outputText value="Lastname" />
			<p:inputText value="#{teamContactView.selectedContact.lastName}" />

			<h:outputText value="Contact Type" />
			<p:inputText value="#{teamContactView.selectedContact.contactType}" />

			<h:outputText value="Job Titel" />
			<p:inputText value="#{teamContactView.selectedContact.jobTitel}" />

			<h:outputText value="E-Mail" />
			<p:inputText value="#{teamContactView.selectedContact.eMail}" />

			<h:outputText value="Phone Number Work" />
			<p:inputText
				value="#{teamContactView.selectedContact.phoneNumberWork}" />

			<h:outputText value="Phone Number Mobile" />
			<p:inputText
				value="#{teamContactView.selectedContact.phoneNumberMobile}" />

			<p:commandButton value="Edit"
				action="#{teamContactView.updateContact}" />
			<p:commandButton value="Delete"
				action="#{teamContactView.deleteContact}" />
		</p:panelGrid>

	</h:form>

	<h1>Create new Contact</h1>

	<h:form>
		<p:panelGrid columns="6">
			<h:outputText value="Firstname" />
			<p:inputText value="#{teamContactView.newContact.firstName}" />

			<h:outputText value="Lastname" />
			<p:inputText value="#{teamContactView.newContact.lastName}" />

			<h:outputText value="Contact Type" />
			<p:inputText value="#{teamContactView.newContact.contactType}" />

			<h:outputText value="Job Titel" />
			<p:inputText value="#{teamContactView.newContact.jobTitel}" />

			<h:outputText value="E-Mail" />
			<p:inputText value="#{teamContactView.newContact.eMail}" />

			<h:outputText value="Phone Number Work" />
			<p:inputText value="#{teamContactView.newContact.phoneNumberWork}" />

			<h:outputText value="Phone Number Mobile" />
			<p:inputText value="#{teamContactView.newContact.phoneNumberMobile}" />

			<p:commandButton value="Create new Contact"
				actionListener="#{teamContactView.createContact}" />
		</p:panelGrid>

	</h:form>
	<h:form>
	<p:commandLink value="Back" action="#{teamContactView.load}" ajax="false" />
	</h:form>

</h:body>
</html>