<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>

<h:body>

	<h1>Team Contact List</h1>
	<h:form>
		<!-- Lazy Datatable Primefaces binden eines Datenmodels -->
		<!-- Lazy Datatable Primefaces binden eines Datenmodels -->
		<p:dataTable id="contactTable" value="#{teamContactView.contactlist}"
			var="con" rowIndexVar="rowId" selectionMode="single"
			selection="#{teamContactView.selectedContact}" rowKey="#{con.id}">

			<p:column headerText="Firstname">
				<h:outputText value="#{con.firstName}" />
			</p:column>
			<p:column headerText="Lastname">
				<h:outputText value="#{con.lastName}" />
			</p:column>
			<p:column headerText="Job Titel">
				<h:outputText value="#{con.jobTitel}" />
			</p:column>

			<!-- Fügt eine Komponente mit einer spezifischen, benannten Beziehung zur Elternkomponente hinzu. 
Die in dem f:facet -Tag verschachtelte Komponente wird angezeigt. Wird in komplexeren Komponenten wie in 
h:panelGrid oder h:dataTable verwendet. -->
			<f:facet name="footer">
				<p:commandButton action="ContactDetails" process="@form"
					update="contactTable" icon="pi pi-search" value="Details"
					actionListener="#{teamContactView.selectContactAction}"
					ajax="false">
				</p:commandButton>
			</f:facet>
		</p:dataTable>


	</h:form>
	<p:commandLink value="Create Contact" action="ContactDetails" />
</h:body>
</html>